<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="application-name" content="AUN Web Dashboard">
    <meta name="author" content="vyPal">
    <meta name="description" content="The online control panel for AUN">
    <meta name="keywords" content="website, web, dashboard, dash, aun, bot, online">
    <meta name="generator" content="ejs">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#00bfff">
    <meta name="og:site_name" value="AUN Web Dashboard">
    <meta name="og:title" content="AUN Documentation">
    <meta name="og:url" content="https://www.aunbot.tk/docs">
    <meta name="og:description" content="Find all the info you need about AUN">
    <meta name="og:image" content="https://images.discordapp.net/avatars/808613132850561055/7bb914fbe3518b700f98d99b4d572764.png?size=512">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="https://drive.google.com/uc?export=view&id=129_JKrVi3IJ6spDDciA5Y5sm4pjUF7eI"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="https://drive.google.com/uc?export=view&id=129_JKrVi3IJ6spDDciA5Y5sm4pjUF7eI"/>

    <title><%- pageTitle %></title>

    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <%- include('partials/sidebar.ejs') %>
    <section style="margin-left: 225px;" class="page-content">
        <h1>AUN Official documention</h1>
        <p>This is the part of the page where you can get all the info about the bot that there is.</p>
    </section>
</body>
</html>