<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="https://drive.google.com/uc?export=view&id=129_JKrVi3IJ6spDDciA5Y5sm4pjUF7eI"/>

    <title><%- pageTitle %></title>

    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <%- include('partials/sidebar.ejs') %>
    <section style="margin-left: 225px;" class="page-content">
        <h1>AUN Official documention</h1>
        <p>This is the part of the page where you can get all the info about the bot that there is.</p>
    </section>
</body>
</html>