<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="https://drive.google.com/uc?export=view&id=129_JKrVi3IJ6spDDciA5Y5sm4pjUF7eI"/>

    <title><%- pageTitle %></title>

    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <%- include('partials/sidebar.ejs') %>
    <section style="margin-left: 225px; width: 60%; line-height: 1.6;" class="page-content">
        <h1>AUN Premium</h1>
        <h3 id="about">What is AUN premium?</h3>
        <p>AUN premium enables special new features for user and servers that have premium enabled. When you buy premium for 5$ or 10$ on our <a href="https://donatebot.io/checkout/814497463309172767">DonateBot page</a> you are supporting the work on AUN and giving vyPal#7810 (the developer) more motivation to add new features. By donating you get free <a href="/docs/premium#keys">premium keys</a> and premium enabled on your account forever! Yes you heard it right, AUN premium is for lifetime!</p>
        <h3 id="forme">What will AUN premium bring me?</h3>
        <p>You will be able to use all of the premium commands in any server with AUN. If the server has premium, other user will be able to use the commands two, but if the server doesn't have premium, you will be the only one that can use those commands.</p>
        <h3 id="keys">What are the "keys"?</h3>
        <p>AUN premium keys are special virtual codes that you can use for enabling premium on a server for a certain time span. These premium keys can enable premium on any server, where you have the <code>MANAGE_GUILD</code> permission. You can view your keys in the <a href="/me/premium">premium section of your profile</a>. Keys can be used in the <a href="/servers">server section</a> of the AUN dashboard.</p>
    </section>
</body>
</html>